<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-list" text=""></ion-back-button>
    </ion-buttons>
    
          <ion-avatar slot="start">
      <img [src]="'https://petba.in/Api/' + adoptionImage" alt="Chat Image" />
    </ion-avatar>
    <ion-title class="chat-title">
      <h3>{{ receiverName === userName ? senderName : receiverName }}</h3>
      <p>{{ petName }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-container" #content>
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
  </div>
 
  <div *ngFor="let message of messages">
    <!-- Use isCurrentUserSender flag if available, or fall back to customer1/from_id check -->
    <div [ngClass]="{
      'message-sender': message.isCurrentUserSender !== undefined ? message.isCurrentUserSender : message.from_id === customer1 || message.customer1 === customer1,
      'message-receiver': message.isCurrentUserSender !== undefined ? !message.isCurrentUserSender : message.from_id !== customer1 && message.customer1 !== customer1
    }">
      <p class="message-text " >{{ message.message }}</p>
      <p class="message-time">{{ message.date_time | date:'short' }}</p>
    </div>
  </div>
</ion-content>
 
<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
    <ion-button (click)="sendMessage()">Send</ion-button>
  </ion-toolbar>
</ion-footer>