
ion-grid{
    max-width: max-content;
    &.inputs{
    
        ion-input{
            width: 2.5rem;
            height: 2.5rem;
            border:none;
            border-radius: 5px;
            outline: none;
            text-align: center;
            --highlight-color:transparent;
        }
    }
    &.buttons{
        // position: fixed;
        // bottom: 0;
        ion-button{
            --size:4rem;
            width:calc(var(--size) + 2rem);
            height:calc(var(--size) - 0rem);
            --border-radius: 2rem;
            --background:var(--ion-color-dark) ;
            --color:var(--ion-color-light) ;
            outline: none;
            text-align: center;
            font-weight: 700;
            --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
    }
}

ion-footer{
    box-shadow: none;
}
//  ion-popover.confirmation-popover::part(content){
//     left: 0;
//     --width:95%;
//     max-width: 100%;
//     margin:calc(100% -  calc(var(--width) + calc(100% - var(--width))/2));
//     margin:max(calc(100% - (var(--width) + (100% - var(--width)) / 2)),0%);
//  }
 ion-popover::part(backdrop) {
    // background-color: rgb(6, 14, 106);
    --backdrop-opacity: 0.8;
  }

  ion-popover.sendotp-popover::part(content){
   border-radius: 30px;
//    width: fit-content;
//     padding: 10px;
//     height: fit-content;
  }