
ion-grid{
    // just some out of the way
    padding: 0;
    .card-wrapper{
        padding: 0;
        ion-card{
            background: var(--ion-background);
            // padding: 10px;
            box-shadow: none;
            // .submit-btn{
            //     width: 60%;
            // }
        }
    }
    // just some out of the way





    // height: 100%;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    ion-row{

        // width: 100%;
        ion-card{
            // border-radius: 35px 10px 35px 10px;
            // border-radius: 35px 10px 10px 10px;
            border-radius:35px 10px 35px 35px;
            
        .card-header{
        
            display: flex;
            align-items: flex-start;
            // border-bottom: 1px solid var(--ion-background-color);
            .user-detail{
                ion-row:first-child
                {
                    ion-col{
                    
                        padding-bottom: 0;
                        padding-left: 0;
                        border-bottom: 1px solid var(--ion-color-custom-light);
                    }
                }
                ion-row:last-child
                {
                    ion-col{
                        padding-top: 0;
                    }
                }
            }
        }
        .psswd-input{
            ion-input{
                min-height: 70px;
                
            border-bottom: 1px solid var(--ion-color-custom-light);
                // div{
                    // font-size: 1.15rem;
                // }
            }
        }
        .btn{
            ion-button{
                padding-bottom: 0;
            }
        }
        }
    }
}

.error-text{
    ion-note{

        font-size: 0.75rem;
    }
}

.skeleton-wrapper{
    ion-skeleton-text{
        border-radius: 15px;
    }
}