 ion-checkbox {
                    --checkbox-background-checked: var(--ion-color-primary);
                    --checkmark-color: var(--ion-color-light);
                    &::part(container) {
                      border-radius: 6px;
                      border: 2px solid var(--ion-color-primary);
                    }
                  }