<ion-header [translucent]="true" class="ion-no-border custom-header">
  <ion-toolbar>
    <ion-title>
      <b>
        {{TITLE}}
      </b>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pageDismiss()">
        cancel
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pet</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid [fixed]="true">
    <form (ngSubmit)="addPet(myPet)" #myPet="ngForm">

      <!-- ADD IMAGES -->
      <ion-row class="Image-row ">
        <ion-col class="ion-no-padding image-add" size="auto" *ngIf="images.length < 6">
          <ion-card [class.img-error]="images.length == 0 && myPet.submitted" (click)="addImg()">
            <ion-button fill="clear" class="image" color="primary">
              <ion-icon name="images-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-card>
          <ion-button (click)="addImg()" class="add-image  image" color="primary" fill="clear" shape="round">
            <ion-icon name="add-circle-sharp" size="large" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- ADDED -->
        <ion-col class="ion-no-padding image-added " size="auto" *ngFor="let item of images; let i = index">
          <ion-card (click)="setPreviewState(true,item)">
            <img class="image-src" [src]="item" alt="" />
          </ion-card>
          <ion-button (click)="removeImg(i)" class="rm-image image" color="danger" fill="clear" shape="round">
            <ion-icon name="remove-circle-sharp" size="large" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- PREVIEW MODAL -->
      <ion-modal class="image-preview-modal" [isOpen]="isPreviewOpen">
        <ng-template>
          <ion-fab *ngIf="isPreviewOpen" slot="fixed" vertical="top" horizontal="start">
            <ion-fab-button (click)="setPreviewState(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <app-image-viewer style="height: 100dvh;" [Image]="previewImage"></app-image-viewer>
        </ng-template>
      </ion-modal>
      <ion-row class="" *ngIf="images.length == 0 && myPet.submitted && !pet.img1">
        <ion-col>
          <div class="error-info-section">
            <ion-note> Please add atleast one picture of the pet.</ion-note>
          </div>
        </ion-col>
      </ion-row>

      <!-- Pet Details -->
      <ion-card>
        <!-- <ion-card-header>
    <ion-card-title>Pet Details</ion-card-title>
    <ion-card-subtitle>Pet Details</ion-card-subtitle>
  </ion-card-header> -->
        <!-- Name -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-input fill="solid" labelPlacement="stacked" placeholder="" [(ngModel)]="pet.name" name="name" required>
              <div class="field-label" slot="label">Pet Name
                <!-- <ion-text color="danger">(Required)</ion-text> -->
              </div>
            </ion-input>
          </ion-col>
        </ion-row>
        <!-- Gender -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-item class="select-field">
              <ion-select interface="popover" label-placement="stacked" [(ngModel)]="pet.gender" name="gender" required>
                <div class="field-label" slot="label">Gender
                  <!-- <ion-text color="danger">(Required)</ion-text> -->
                </div>
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- DATE OF BIRTH -->
        <ion-row class="field ion-justify-content-between ion-align-items-center ion-padding-vertical required"
          [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"
          [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">
          <ion-col class="ion-no-padding " size="4">

            <h5
              style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);">
              Date of Birth
            </h5>

          </ion-col>
          <ion-col class="ion-no-padding" size="8">



            <!-- <h5  class="required" style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);"  [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">Date of Birth
      </h5> -->
            <!-- <ion-datetime-button datetime="datetime" id="open-date" class="required" [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">
      </ion-datetime-button> -->

            <ion-button fill="clear" datetime="datetime" id="open-date"
              class=" ion-no-margin ion-text-capitalize ion-float-end">

              <ion-text color="dark" *ngIf="pet.dob"> {{pet.dob|date:'dd MMMM ,yyyy'}}</ion-text>
              <span *ngIf="!pet.dob">add date</span>
            </ion-button>
            <ion-modal [keepContentsMounted]="true" trigger="open-date">
              <ng-template>
                <ion-datetime class="ion-justify-content-start" presentation="date" [min]="LastDay" [max]="Today"
                  [(ngModel)]="pet.dob" name="dob" required [showDefaultButtons]="true" color="secondary"
                  doneText="Confirm" [preferWheel]="false" id="datetime">
                  <span slot="title">Select Date Of Birth</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>

          </ion-col>
        </ion-row>



      </ion-card>

      <!-- ANIMAL TYPE -->
      <ion-card>
        <!-- SELECT TYPE OF ANIMAL [SELECT LIST] -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-item class="select-field">
              <ion-select (ionChange)="getBreedOptions($event)" interface="popover" label-placement="stacked"
                [(ngModel)]="pet.animal" name="animal" required>
                <div class="field-label" slot="label">Type of Animal
                  <!-- <ion-text color="danger">(Required)</ion-text> -->
                </div>
                <ion-select-option [value]="item.animal_id"
                  *ngFor="let item of animal">{{item.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- SELECT TYPE OF ANIMAL [INPUT]  -->
        <ion-row class="field" *ngIf="pet.animal == '0'">
          <ion-col class="ion-no-padding" size="12">
            <ion-input fill="solid" labelPlacement="stacked" placeholder="" [(ngModel)]="pet.animalName"
              name="animalName" required>
              <div class="field-label" slot="label">Type of Animal
                <!-- <ion-text color="danger">(Required)</ion-text> -->
              </div>
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- COLOR -->
      <ion-card>
        <!--  SELECT TYPE OF COLOR [SELECT LIST] -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-item class="select-field">
              <ion-select interface="popover" [(ngModel)]="pet.color" name="color" required label-placement="stacked">
                <div class="field-label" slot="label">Type of Color
                  <!-- <ion-text color="danger">(Required)</ion-text> -->
                </div>
                <ion-select-option *ngFor="let item of colors" [value]="item.id">{{item.color}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- BREED TYPE -->
      <ion-card>
        <!--  SELECT TYPE OF BREED [SELECT LIST] -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-item class="select-field">
              <ion-select interface="popover" label-placement="stacked" [(ngModel)]="pet.breed" name="breed" required>
                <div class="field-label" slot="label">Type of Breed
                  <!-- <ion-text color="danger">(Required)</ion-text> -->
                </div>
                <ion-select-option [value]="item.id" *ngFor="let item of breed">{{item.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <div class="error-info-section"
            *ngIf="myPet.control.get('breed')?.touched && myPet.control.get('animal')?.pristine && myPet.control.get('animal')?.invalid">
            <ion-note> please select type of animal</ion-note>
          </div>
        </ion-row>
        <!--  SELECT TYPE OF BREED [Input] -->
        <ion-row class="field" *ngIf="pet.breed == '0'">
          <ion-col class="ion-no-padding" size="12">
            <!-- <ion-item> -->
            <ion-input fill="solid" labelPlacement="stacked" placeholder="" [(ngModel)]="pet.breedName" name="breedName"
              required>
              <div class="field-label" slot="label">Type of Breed
                <!-- <ion-text color="danger">(Required)</ion-text> -->
              </div>
            </ion-input>
            <!-- </ion-item> -->
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- Select City -->
      <ion-card>
        <!-- <ion-row class="field required" [class.ng-invalid]="!pet.city"  [class.ng-valid]="pet.city">
    <ion-col  class="ion-no-padding" style="padding: 10px" size="12">
      <ion-item lines="none">
        <ion-text color="medium">City</ion-text>
       <ion-button slot="end" expand="full" fill="clear" (click)="selectCity()">
       <span *ngIf="!pet.city"> Get Address<ion-icon name="location"></ion-icon></span>
        <ion-text color="dark" *ngIf="pet.city">{{pet.city}}</ion-text>
      </ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->

        <!-- ADDRESS -->
        <!-- <ion-row class="field" >
  <ion-col  class="ion-no-padding" size="12">
    <ion-textarea  fill="solid" labelPlacement="stacked" [rows]="1" [autoGrow]="true" placeholder="" 
    [(ngModel)]="pet.address" name="address" required>
      <div class="field-label" slot="label">Address 
      </div> 
    </ion-textarea>
  </ion-col>
  </ion-row> -->

        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-input class="custom-placeholder" fill="solid" labelPlacement="stacked" placeholder="Add City"
              [(ngModel)]="pet.city" name="city" required [readonly]="true" (click)="selectCity()">
              <div class="field-label" slot="label">City
                <!-- <ion-text color="danger">(Required)</ion-text> -->
              </div>
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- ANTI RABIES -->
      <ion-card>
        <!-- Anti Rabies -->
        <ion-row class="field ">
          <ion-col class="ion-no-padding" size="12">
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item lines="none" class="ion-no-padding select-field">
                  <ion-toggle #anti_rabies class="required"
                    [class.ng-invalid]="myPet.control.get('anti_rbs')?.invalid || myPet.control.get('anti_rbs')?.pristine"
                    [class.ng-valid]="myPet.control.get('anti_rbs')?.valid && !myPet.control.get('anti_rbs')?.pristine"
                    justify="space-between" color="success">Anti Rabies</ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="anti_rabies.checked == true"
              class=" ion-justify-content-between ion-align-items-center required "
              [class.ng-invalid]="myPet.control.get('anti_rbs')?.invalid || myPet.control.get('anti_rbs')?.pristine"
              [class.ng-valid]="myPet.control.get('anti_rbs')?.valid && !myPet.control.get('anti_rbs')?.pristine">
              <ion-col class="ion-no-padding " size="4">

                <h5
                  style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);">
                  Applied Date
                </h5>

              </ion-col>
              <ion-col class="ion-no-padding" size="8">



                <!-- <h5  class="required" style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);"  [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">Date of Birth
      </h5> -->
                <!-- <ion-datetime-button datetime="datetime" id="open-date" class="required" [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">
      </ion-datetime-button> -->

                <ion-button fill="clear" datetime="datetime-anti_rbs" id="open-anti_rbs"
                  class=" ion-no-margin ion-text-capitalize ion-float-end">
                  <ion-text color="dark" *ngIf="pet.anti_rbs"> {{pet.anti_rbs|date:'dd MMMM ,yyyy'}}</ion-text>
                  <span *ngIf="!pet.anti_rbs">click here</span>
                </ion-button>
                <ion-modal [keepContentsMounted]="true" trigger="open-anti_rbs">
                  <ng-template>
                    <ion-datetime class="ion-justify-content-start" presentation="date" [min]="LastDay" [max]="Today"
                      [(ngModel)]="pet.anti_rbs" name="anti_rbs" required [showDefaultButtons]="true" color="secondary"
                      doneText="Confirm" [preferWheel]="false" id="datetime-anti_rbs">
                      <span slot="title">Select Applied Date</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>

              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>


      </ion-card>
      <!-- Viral -->
      <ion-card>
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item lines="none" class="ion-no-padding select-field">
                  <ion-toggle #viral class="required"
                    [class.ng-invalid]="myPet.control.get('viral')?.invalid || myPet.control.get('viral')?.pristine"
                    [class.ng-valid]="myPet.control.get('viral')?.valid && !myPet.control.get('viral')?.pristine"
                    justify="space-between" color="success">Viral</ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="viral.checked == true" class=" ion-justify-content-between ion-align-items-center required"
              [class.ng-invalid]="myPet.control.get('viral')?.invalid || myPet.control.get('viral')?.pristine"
              [class.ng-valid]="myPet.control.get('viral')?.valid && !myPet.control.get('viral')?.pristine">
              <ion-col class="ion-no-padding " size="4">

                <h5
                  style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);">
                  Applied Date
                </h5>

              </ion-col>
              <ion-col class="ion-no-padding" size="8">



                <!-- <h5  class="required" style="padding-left: 10px;font-size: 0.8rem;margin-bottom: 0;margin-top: 0;color: var(--ion-color-medium);"  [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">Date of Birth
            </h5> -->
                <!-- <ion-datetime-button datetime="datetime" id="open-date" class="required" [class.ng-invalid]="myPet.control.get('dob')?.invalid || myPet.control.get('dob')?.pristine"  [class.ng-valid]="myPet.control.get('dob')?.valid && !myPet.control.get('dob')?.pristine">
            </ion-datetime-button> -->

                <ion-button fill="clear" datetime="datetime-viral" id="open-viral"
                  class=" ion-no-margin ion-text-capitalize ion-float-end">

                  <ion-text color="dark" *ngIf="pet.viral"> {{pet.viral|date:'dd MMMM ,yyyy'}}</ion-text>
                  <span *ngIf="!pet.viral">click here</span>
                </ion-button>
                <ion-modal [keepContentsMounted]="true" trigger="open-viral">
                  <ng-template>
                    <ion-datetime class="ion-justify-content-start" presentation="date" [min]="LastDay" [max]="Today"
                      [(ngModel)]="pet.viral" name="viral" required [showDefaultButtons]="true" color="secondary"
                      doneText="Confirm" [preferWheel]="false" id="datetime-viral">
                      <span slot="title">Select Applied Date</span>
                    </ion-datetime>
                  </ng-template>
                </ion-modal>

              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- DESCRIPTION -->
      <ion-card>
        <!-- <ion-row  class="field">
    <ion-col  class="ion-no-padding" size="12">
      <ion-textarea
      [(ngModel)]="pet.note" name="note" required
       [counter]="true"
      [maxlength]="500"
      [counterFormatter]="customCounterFormatter"  [rows]="10" [autoGrow]="true" fill="outline"  labelPlacement="stacked" >
      <div class="field-label" slot="label">Pet Name</div>
      </ion-textarea>
    </ion-col>
  </ion-row> -->
        <ion-row class="field">
          <ion-col class="ion-no-padding" size="12">
            <ion-textarea fill="solid" labelPlacement="stacked" [autoGrow]="true" placeholder="" [minlength]="30"
              [(ngModel)]="pet.note" name="note" required>
              <div class="field-label" slot="label">Description
                <!-- <ion-text color="danger">(Required)</ion-text> -->
              </div>
            </ion-textarea>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- SUBMIT BUTTON -->
      <ion-row class=" ion-justify-content-center ">
        <ion-col class="ion-padding-bottom ion-margin-bottom" size="auto">
          <ion-button style="    
    --padding-bottom: 20px;
    --padding-top: 20px;
    width: 15rem;" [disabled]="myPet.invalid" fill="outline" [color]="getSubmitColor(myPet)" expand="block"
            shape="round" type="submit">
            Submit
          </ion-button>
        </ion-col></ion-row>
      <!-- FORM END -->
    </form>
  </ion-grid>
</ion-content>