ion-content{
    --background:var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
}
ion-grid.md{
    ion-row.blog-date{
        ion-note{
            font-size: x-small;
            font-weight: 500;
            color: var(--ion-color-medium);
        }
    }
    ion-row.blog-title{
        font-size: 1.5rem;
    }
.blog-img{
    ion-img::part(image)
    {
        border-radius: 20px;
    }
}
.box-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    --size: 2.5rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .auth-container{
        gap: 5px;
ion-avatar{
    
    width: var(--size);
    height: var(--size);
}
ion-text{
    font-size: 0.9rem;

}

    }
    .likes-container{
        ion-button{
            position: relative;
            --ripple-color:transparent;
            ion-icon{
                position: absolute;
                font-size: 2rem;
            }
        }
        ion-text{
            font-size: 1.2rem;
        }

    }
}
// ion-row.comment{
//     &:not(:last-child)
//     .comment-details{

//         border-bottom: 1px solid #cacaca;
//     }
// }
// .comment{
//     .comment-details{

//         .Cname{
//             font-weight: 500;
//         }
//         .Ctime{

//         ion-note{

//             font-size: 0.7rem;
//         }
//     }
//     .Cmsg{
//         font-size: 0.8rem;
//     }
// }
// }
// .comment-input{
//     display: flex;
//     align-items: flex-end;
// }
ion-row.comment{
    &:not(:last-child)
.comment-details{

    border-bottom: 1px solid rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.065);
}
&.skeleton:not(:last-child) .comment-details{
    border-bottom: 1px solid rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.065);
}
}
.comment{
ion-avatar{
    

margin: 4px;
// --size: 40px;

background: var(--ion-color-custom-light-shade);
--size: 2.5rem;
width: var(--size);
height: var(--size);

}
.comment-details{

    .Cname{
        font-weight: 500;
        font-size: 0.75rem;
    }
    .Ctime{

    ion-note{

        font-size: 0.7rem;
    }
}
.Cmsg{
    font-size: 0.8rem;
}
}
}
}

// skeleton
ion-skeleton-text{
    border-radius: 5px;
}
// ANIMATION

.unlike{
    transform: scale(0.5);
    opacity: 0;
    // transition: transform 100ms ease,opacity 100ms ease;
    transition:transform 200ms cubic-bezier(0, -1, 0.77, 0.07), opacity 200ms ease;
}
.like{
    transform: scale(1);
    opacity: 1;
    // transition: transform 200ms ease,opacity 200ms ease;
    transition:transform 200ms cubic-bezier(0, 1.85, 0.48, 1.48), opacity 200ms ease;
}