ion-content {
    &::part(background) {
      background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    }
  }
  
  ion-card {
    box-shadow: none;
  
    ion-grid.md {
      .petName {
        h3 {
          margin: 0;
          padding: 5px 0;
          font-weight: 700;
        }
      }
  
      .location {
        ion-text {
          display: flex;
          align-items: center;
          font-weight: 400;
          padding: 0 5px 16px 0px;
  
          ion-icon {
            font-size: 1.2rem;
          }
        }
      }
  
      ion-row.pet-details {
        ion-chip {
          --background: #FFB1B1;
          font-weight: 500;
          border-width: 2px;
  
          ion-avatar {
            --border-radius: 0;
            margin-inline-start: -2px;
          }
        }
      }
  
      .pet-details-header {
        padding-inline: 5px 0;
  
        .location {
          margin-bottom: 5px;
  
          ion-note,
          ion-icon {
            font-size: 0.75rem;
          }
        }
  
        .pet-details-chip {
          overflow-x: auto;
          display: flex;
          flex-wrap: nowrap;
          padding-inline-end: 10%;
  
          ion-chip {
            font-weight: 500;
            --background: #FFB1B1;
            flex: 1 0 fit-content;
  
            ion-avatar {
              margin-inline-start: -2px;
              --border-radius: 0;
            }
          }
  
          &::after {
            --_color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
            content: "";
            position: absolute;
            right: 0;
            background: linear-gradient(to left, var(--_color), var(--_color) 15%, transparent);
            height: -webkit-fill-available;
            width: 20%;
            z-index: 1;
          }
        }
      }
    }
  }
  
  ion-footer {
    box-shadow: none;
  
    .action-btn {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
  
      div.btn {
        --_height: var(--height, 4rem);
  
        &.btn-call,
        &.btn-chat {
          padding: 0 5px;
          height: var(--_height);
          --height: 3.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          ion-button {
            margin: 0;
            width: 100%;
            height: 100%;
          }
        }
  
        &.btn-chat {
          width: 80%;
  
          ion-button::part(native) {
            text-transform: capitalize;
            color: white;
            --border-radius: 30px;
            font-size: 1.2rem;
          }
        }
  
        &.btn-call {
          --height: 4rem;
          width: 20%;
          height: auto;
          padding: 5px;
  
          ion-button {
            margin: 0;
            width: var(--height);
            aspect-ratio: 1;
          }
  
          ion-button::part(native) {
            --border-radius: 50%;
            color: #fff;
          }
        }
      }
    }
  }
  
  .pet-description {
    margin: 0;
    padding: 5px 0;
    --lines: 10;
    --line-height: 1.9;
    --font-size: 0.9rem;
    line-height: var(--line-height);
    font-size: var(--font-size);
    height: auto;
    transition: height 2000ms linear;
  }
  
  .text-limited {
    height: calc(var(--line-height) * var(--font-size) * var(--lines));
    overflow: hidden;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, transparent, var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #ffffff))));
      height: calc(var(--line-height) * var(--font-size));
    }
  }
  
  .readmore-icon {
    transition: transform 300ms ease;
  
    &.readless-icon {
      transform: rotatez(-180deg);
    }
  }
  
  .pet-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
  }
  
  .gradient-background {
    background: linear-gradient( #e0f7fa, #d1c4e9);
  }
  
  .elevated-footer {
    border-radius: 20px;
    background-color: #fff;
  }
  
  .action-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    // background-color: #3880ff;
    border-radius: 20px;
  }
  
  .btn-chat ion-button,
  .btn-call ion-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }